@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {

  --clr-primary: #dc3848;
  --clr-primary-dark: #bb2d3b;
  --clr-secondary: #ffc105;

  --clr-rare: #0dccf2;
  --clr-dark: #000000;
  --clr-white: #ffffff;

  --clr-txt-400: #ababab;
  --clr-txt-500: #717275;

  --fs-100: 0.575rem;
  /* 14px */
  --fs-200: 0.875rem;
  /* 16px */
  --fs-300: 1rem;
  /* 18px */
  --fs-400: 1.125rem;
  /* 22px */
  --fs-500: 1.375rem;
  /* 26px */
  --fs-600: 1.625rem;
  /* 28px */
  --fs-700: 1.75rem;
  /* 56px */
  --fs-800: 3.5rem;
  /* 76px */
  --fs-900: 4.75rem;

  --ff-primary: 'Montserrat', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

/* *************************** css rest********************************* */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************** General styling ********************** */

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  color: var(--clr-txt-500);
  background-color: var(--clr-white);
}

a {
  font-size: var(--fs-400);
  color: var(--clr-txt-500);
  text-decoration: none;
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

h2 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

h3 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

ul {
  list-style: none;
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

::-moz-selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

/* ********************** Header ********************** */
.navbar-section {
  margin-bottom: var(--fs-900);
}

.navbar-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-500) 0;
  border-bottom: var(--clr-txt-400);
  z-index: -1;
}

.header-logo a {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

.nav-links {
  display: flex;
  order: -1;
  font-size: var(--fs-400);
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation[data-visible] {
  display: block;
  z-index: 9999;
}

@media (max-width: 991px) {

  .navbar-section-container {
    padding: var(--size-400) 0;
    justify-content: space-between;
  }

  .primary-navigation {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    padding-block: var(--size-600);
    background: var(--clr-white);
    padding-left: var(--size-600);
    border-radius: var(--size-200);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }

  .nav-links {
    flex-direction: column;
    gap: var(--size-400);
  }

  .header-logo a {
    order: 1;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.5em;
    width: 1.65rem;
    aspect-ratio: 1;
    background-image: url("../Images/icon-hamburger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../Images/icon-close.svg");
  }

}

@media (max-width: 767px) {
  .navbar-section-container {
    justify-content: space-between;
    ;
  }

  .btn-Reservation {
    display: none;
  }
}


/* ***************** hero section ************* */

.hero-section {
  position: relative;
  height: 100vh;
  margin-bottom: var(--size-600);
}

.bg-video-wraper {
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.custom-video {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, var(--clr-dark), transparent 100%);
}

.hero-section-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hero-section-content {
  padding-top: var(--size-900);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  color: var(--clr-white);
  text-align: start;
}

.hero-section-content h1 {
  color: var(--clr-white);
  text-align: start;
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  margin-bottom: var(--size-400);
}

.hero-section-content p span {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

@media (max-width: 991px) {
  .hero-section-container {
    flex-direction: column;
    padding-top: var(--fs-500);
  }

  .hero-section-content {
    width: 100%;
    text-align: start
  }

  .hero-section-content h1 {
    font-size: var(--fs-800);
    color: var(--clr-white);
  }

  .hero-section-content p {
    font-size: var(--fs-400);
  }
}


/* ********************** special Menu section ********************** */

.special-menu-section {
  margin-block: var(--size-900);
  padding-block: var(--size-900);
  margin-inline: auto;
}

.special-menu-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.special-menu-section-container h2 {
  color: var(--clr-dark);
}

.special-menu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: var(--size-700);
}

.special-menu-card {
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.special-menu-card-img {
  width: 100%;
  position: relative;
  margin-bottom: var(--size-300);
}

.special-menu-card-img img {
  min-width: 100%;
  object-fit: cover;
}

.special-menu-card-tag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--fs-200);
  color: var(--clr-white);
  background: var(--clr-secondary);
  margin: var(--size-300);
  padding: var(--size-100) var(--size-400);
  border-radius: var(--size-100);
}

.menu-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--size-300) var(--size-200);
  align-items: center;
  margin-bottom: var(--size-400);
}

.card-header {
 text-align: center;
  margin-bottom: var(--size-500);
}

.card-header h3 {
  color: var(--clr-dark);
  margin-bottom: var(--size-500);
}

.discount-price {
  color: var(--clr-dark);
  font-size: var(--fs-100);
  text-decoration: line-through;
  margin-left: var(--size-200);
}

@media (max-width: 991px) {
  .special-menu-card {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .special-menu-card {
    width: 100%;
  }
}

/* ********************** bg Image transparent ********************** */
.bg-img-section {
  background-image: url(../Images/Home/home-bg-inner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}


/* ********************** News and Event section ********************** */
.news-events-section-container {
  padding-block: var(--size-700);
  margin-block: var(--size-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--size-500);
}

.news-events-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-300);
  flex-wrap: wrap;
  margin-top: var(--size-500);
}

.news-events-row-card {
  position: relative;
  max-width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-events-card-img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.news-events-card-img img {
  max-width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;

}

.news-events-card-img:hover img {
  min-width: 100%;
  object-fit: cover;
  transform: scale(1.5);
}

.news-events-card-text {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, var(--clr-dark), transparent 90%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding: var(--size-400);
  pointer-events: none;
}

.news-events-card-text a {
  padding: var(--size-100) var(--size-200);
  font-size: var(--fs-200);
  margin-bottom: var(--size-100);
}

.news-events-card-text h5 {
  color: var(--clr-white);
}

@media (max-width: 767px) {

  .news-events-row-card {
    max-width: 100%;
    margin-inline: auto;
    gap: var(--size-500);
  }
}

.news-events-card-second {
  position: relative;
  margin-bottom: var(--size-900);
  max-width: 32%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
}

.news-events-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
}


.news-events-card-content p {
  display: block;
  padding-block: var(--size-200);
}

.tag {
  font-size: var(--fs-200);
  color: var(--clr-white);
  background-color: var(--clr-rare);
  padding: var(--size-100) var(--size-200);
  border-radius: var(--size-100);

}

.date {
  margin-left: var(--size-400);
  font-size: var(--fs-400);
  color: var(--clr-dark);
  margin-bottom: var(--size-200);
}

@media (max-width: 991px) {
  .news-events-card-second {
    max-width: 48%;
    margin-inline: auto;
  }
}

@media (max-width: 767px) {
  .news-events-card-second {
    margin-inline: auto;
    max-width: 100%;
  }
}

/* ********************** footer section ********************** */
.footer-section {
  position: relative;
  margin-top: var(--size-900);
  padding: var(--size-900);
  width: 100%;
  background-image: url(../Images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top, var(--clr-dark), transparent 200%);
}

.footer-section-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-logo a {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-white)
}

.footer-section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: start;
  padding-block: var(--size-900);
}

.footer-section-content div {
  max-width: 32%;
  gap: var(--size-500);
}

.footer-section-content h6 {
  color: var(--clr-white);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  margin-bottom: var(--size-600); 
}

.footer-section-content p {
  padding-block: var(--size-100);
  color: var(--clr-txt-400);
  font-size: var(--fs-400);
}

.footer-content-location {
  text-align: start;
  margin-bottom: var(--size-200);
}

.footer-content-location .direction {
  margin-top: var(--size-300);
  display: inline-block;
  color: var(--clr-txt-400);
  background-color: #1c1f23;
  padding: var(--size-200) var(--size-600);
  border-radius: var(--size-100);
}

.footer-content-timing {
  text-align: start;
}

.footer-content-social-links ul {
  display: flex;
  gap: var(--size-400);
  margin-bottom: var(--size-800);
}

.footer-content-social-links ul li a {
  font-size: var(--fs-500);
}

@media (max-width: 991px) {
  .footer-section-content div {
    max-width: 48%;
  }
}

@media (max-width: 767px) {
  .footer-section-content {
    flex-direction: column;
    gap: var(--size-900);
    align-items: flex-start;
  }

  .footer-section-content div {
    max-width: 100%;
  }
}

/* ********************** Utility class ********************** */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


.container {
  --max-witdh: 1140px;
  --container-padding: 1rem;
  width: min(var(--max-witdh), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.btn-primary {
  font-size: --var(fs-400);
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: var(--size-300) var(--size-600);
  border: none;
  border-radius: var(--size-100);
}

.btn-primary:hover {
  background-color: var(--clr-primary-dark);
  cursor: pointer;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
  color: var(--clr-primary-dark);
  cursor: pointer;
}

.reviews {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  margin-bottom: var(--fs-100);
}

.reviews-star {
  font-size: var(--fs-300);
  color: var(--clr-secondary);
}

.price-tag {
  display: inline;
  border: 0;
  border-radius: 50%;
  color: var(--clr-secondary);
  background-color: var(--clr-white);
  padding: var(--size-400);
  font-size: var(--size-400);
  font-weight: var(--fw-semi-bold);
  box-shadow: 0 0 100px 2px #33333392;
}

.text-semibold {
  font-weight: var(--fw-semi-bold);
}

.text-bold {
  font-weight: var(--fw-bold);
}

.text-big {
  font-size: var(--fs-700);
  color: var(--clr-dark);
}

.text-normal {
  font-size: var(--fs-400);
  color: var(--clr-dark);
}